<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/style.css">
  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
  <div class="container">
      <div class="main">
        <div class="task-list-container">
          <h1 class="task-list-heading">Task List</h1>

          <div class="task-list-task-buttons">
            <a href="#">
              <button class="task-list-button">
                <span class="material-icons">add</span>Add task
              </button>
            </a>
          </div>

          <div class="task-list-table-head">
            <div class="task-list-header-task-name">Task Name</div>
            <div class="task-list-header-detail">Detail</div>
            <div class="task-list-header-due-date">Due Date</div>
            <div class="task-list-header-progress">Progress</div>
          </div>

          <div class="table-body">
            <div class="table-body-task-name">
              <span class="material-icons check-icon">
                check_circle
              </span>
              Task 1
            </div>
            <div class="table-body-detail">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis non ut tempore delectus, facere vitae atque et consequuntur nesciunt, illo laborum fuga tempora, saepe quasi culpa! Cum pariatur non doloribus!
            </div>
            <div class="table-body-due-date">
              <%= new Date().toLocaleDateString('id-ID', { weekday: 'long' , year: 'numeric' , month: 'long'
                , day: 'numeric' }) %>
            </div>
            <div class="table-body-progress">
              In Progress
            </div>
            <a href="#">Edit</a> &nbsp;
            <a href="#">Delete</a>
          </div>
          <div class="table-body">
            <div class="table-body-task-name">
              <span class="material-icons check-icon-completed">
                check_circle
              </span>
              Task 2
            </div>
            <div class="table-body-detail">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis non ut tempore delectus, facere vitae atque et consequuntur nesciunt, illo laborum fuga tempora, saepe quasi culpa! Cum pariatur non doloribus!
            </div>
            <div class="table-body-due-date">
              <%= new Date().toLocaleDateString('id-ID', { weekday: 'long' , year: 'numeric' , month: 'long'
                , day: 'numeric' }) %>
            </div>
            <div class="table-body-progress">
              Completed
            </div>
            <a href="#">Edit</a> &nbsp;
            <a href="#">Delete</a>
          </div>
        </div>
      </div>
  </div>
</body>

</html>